/* Blog styles */

/* External dependencies */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');
/* Design system */
@import url('design.css');


/* Mobile first 320px — 480px */
.container {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: auto;
    padding: 0.5rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "menu"
        "header"
        "main"
        "main-post"
        "footer";
    /* border: 1px solid red; */
}

/* Menu */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 0;
}
.menu {
    list-style: none;
    display: inline-block;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.menu > li {
    display: inline;
    padding: 5px;
}

/* Header  */
.intro {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
figure {
   margin: 0; 
}
figure img {
    border-radius: 5px;
}
.header-feature img {
    width: 100%;
}
.header h1 {
    margin-bottom: 0;
}
.header .date {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Main */
.main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "card"
}
.main-post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
#img-blog-design-system {
    border: 1px solid #8999a0;
    border-radius: 5px;
    width: 100%;
    max-width: fit-content;
}
 

/* Footer  */
footer {
    font-size: 0.8rem;
    color: #8999a0;
    text-align: center;
    padding: 20px;
    
}

/* iPad and tablets 481px — 768px */
@media only screen and (min-width: 481px) {
    .nav {
        padding: 1rem 0;
    }
    .container {
        padding: 1rem;
    }
    .intro {
        flex-flow: row;
        padding: 1rem 0;
    }
    .intro figure {
        margin: 1rem 1.5rem 1rem;
    }
    .intro figure img {
        max-width: 175px;
    }
    .header-feature {
        max-height: 200px;
        overflow: hidden;
        margin-top: 1rem;
    }
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "card card"
    } 
}

/* Small screens, laptops - 769px — 1024px */
@media only screen and (min-width: 769px) {
    
}

/* Large screens - 1025px — 1200px  */
@media only screen and (min-width: 1025px) {
    
}
